.restaurantCard {
    display: flex;
    height: 290px;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 15px;
    border: 2px solid darkgrey;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
}

.restaurantPics {
    height: 225px;
    width: 320px;
}

.restaurantInfo {
    text-align: left;
    margin: 35px;
}

.favBtn {
    background-color: #6983B2;
    color: white;
    height: 40px;
    width: 125px;
}

.favBtn:hover {
    background-color: tomato;
    transition: .40s;
}