.EightBall {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.eightButton {
    background-color: purple;
    height: 40px;
    width: 65px;
}