.EightBall {
    height: 450px;
    width: 450px;
    border: 3px solid grey;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.eightButton {
    background-color: purple;
    height: 40px;
    width: 65px;
}