.App {
  text-align: center;
  margin: 25px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.Title {
  font-size: 75px;
  padding: 5px;
  font-family: 'Luckiest Guy', cursive;


}

.yelpFusion {
  width: 140px;
  height: 50px;
  padding-bottom: 12px;
  padding-top: 0px;
}
